*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

# Files containing detailed information about the compilation (generated
# by `ocamlc`/`ocamlopt` when invoked using the option `-bin-annot`).
# These files are typically useful for code inspection tools
# (e.g. Merlin).
*.cmt
*.cmti

*.native

# Local OPAM switch
_opam/

